.libanpost-btn {
    display: inline-block;
    background-color: #007cba;
    color: #ffffff;
    padding: 7px 13px;
    border-radius: 3px;
    cursor: pointer;
}
.libanpost-btn.prepare-shipment-btn {
    margin-top: 15px;
}
.prepare-shipment-btn:hover {
    background-color: #0071a1;
}
.libanpost-overlay {
    position: absolute;
    z-index: 400;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
.libanpost-shipment-creation .dashicons {
    position: absolute;
    top: 4%;
    right: 1%;
    cursor: pointer;
}
.libanpost-shipment-creation {
    max-width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #D6D6D6;
    overflow: hidden;
    opacity: 1;
    background-color: #f2f2f2;
}
.libanpost-shipment-creation fieldset {
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin-top: 10px;
}
.create-shipment {
    display: flex;
    float: right;
    margin-top: 15px;
    align-items: flex-end;
}
.ajax-response {
    margin-right: 15px;
}