.libanpost-main input {
    width: 80%;
    text-align: center;
    margin-top: 10px;
    color: #444444;
    border: 1px solid #444444;
}
.button-primary.prepare-shipment-btn {
    margin-top: 15px;
}
.prepare-shipment-btn:hover {
    background-color: #0071a1;
}
.libanpost-overlay {
    position: absolute;
    z-index: 400;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
.libanpost-shipment-creation .dashicons-no-alt {
    position: absolute;
    right: 1%;
    cursor: pointer;
}
.libanpost-shipment-creation {
    max-width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #D6D6D6;
    overflow: hidden;
    opacity: 1;
    background-color: #f2f2f2;
}
.libanpost-shipment-creation fieldset {
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin-top: 10px;
}
.create-shipment {
    display: flex;
    float: right;
    margin-top: 15px;
    align-items: flex-end;
}
.libanpost-ajax-response {
    margin: auto 10px;
    max-width: 500px;
    display: inline-block;
}
.libanpost-loader {
    border: 3px solid #a9a9a9;
    border-radius: 50%;
    border-top: 3px solid #007cba;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
fieldset.libanpost-fieldset div {
    display: inline-block;
    width: 49%;
    margin: 9px 2px;
    box-sizing: border-box;
    padding: 0 15px;
}
fieldset.libanpost-fieldset input {
    float: right;
    width: 100%;
    border-radius: 0;
    margin-top: 5px;
}
fieldset.libanpost-fieldset legend {
    font-weight: bold;
    font-size: 15px;
}
fieldset.libanpost-fieldset .libanpost-textarea {
    width: 100%;
}
fieldset.libanpost-fieldset .libanpost-textarea textarea {
    width: 100%;
    margin-top: 5px;
}
.submit-project {
    display: flex;
    align-items: flex-end;
}
button.libanpost-remove-btn {
    border: 1px solid red;
    border-radius: 2px;
    background-color: white;
    color: red;
    cursor: pointer;
}
button.libanpost-remove-btn:hover {
    opacity: 0.7;
}
button.libanpost-remove-btn:active, button.libanpost-remove-btn:focus {
    outline: none;
}
@media only screen and (max-width: 768px) {
    fieldset.libanpost-fieldset div {
        width: 100%;
    }
}